<!--<!DOCTYPE html>-->
<form id="part2" class="form-horizontal" action="/go-part3" method="post">
    <div class="form-group text-center">
        <div class="text-center">
            <button name="taste" value="none" type="submit" class="btn btn-lg btn-warning">不兌換</button>
            <button name="taste" value="origin" type="submit" class="btn btn-lg btn-warning">原味</button>
            <button name="taste" value="chocolate" type="submit" class="btn btn-lg btn-warning">巧克力</button>
            <button name="taste" value="sugar" type="submit" class="btn btn-lg btn-warning">焦糖</button>
        </div>
    </div>
    <input name="people" id="people"  type="hidden" value="0">
    <input name="time" id="time" type="hidden" value="0">
</form>
