<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="page-header text-center">
              <h1>歡迎來到<br/>
                  填資料送禮品<br/>
                  好康康報報網頁</h1>
            </div>
            <div class="text-center">
                <a href="/part1" class="btn btn-success">開始填資料</a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
