<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="row">
                <h3></h3>
            </div>
            <div class="row">
                <h3></h3>
            </div>
            <div class="row">
                <h3></h3>
            </div>
          <h3>已兌換人數：0</h3>
        </div>
        <div class="col-md-4">
            <div class="page-header text-center">
              <h1>請選擇口味</h1>
            </div>
            <% include ../pages/part2.ejs %>
        </div>
        <div class="col-md-4 text-center">
            <div class="row">
                <h3></h3>
            </div>
            <div class="row">
                <h3></h3>
            </div>
            <div class="row">
                <h3></h3>
            </div>
          <h3>剩餘的禮物：32</h3>
        </div>
    </div>
    <div class="row" style="buttom: 0; height: 30%;"></div>
    <% include ../partials/script.ejs %>
</body>
</html>
